.one{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    font-weight: 200;
    line-height: 110%;
    
}

.two{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 100;
    line-height: 80%;

}

.three{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 31px;
    font-weight: 500;
    line-height: 150%;
}

.four{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 10;
    line-height: 200%;
}

.five{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 300%;
}